aside{
    max-width: 25%;
    background-color: #333;
    padding: 20px;
}
aside ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.item{
    color:#fff;
    font-size: 18px;
    margin: 5px 0;
}
.item a{
    color:#fff;
    text-decoration: none;
}
.item a:hover{
    text-decoration: underline;
}