.header  img{
    max-width: 60px;
}
.header{
    padding: 5px 0;
    background-color: #333;
}
.login_block{
    max-width: 200px;
}
.header .wrapper{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
}
.login_block a{
    color:#fff;
    text-decoration: none;
    font-size: 18px;
}
.authName{
    font-size: 18px;
    color:#fff;
    font-weight: 600;
}