.wrapperMain{
  display: flex;
  flex-wrap: wrap;
  /*justify-content: space-between;*/
  max-width: 1200px;
  margin:0 auto;
  margin-top: 10px;
}

.wrapper{
  max-width: 1200px;
  margin: 0 auto;
}
.preloader{
  max-width: 20px;
  max-height: 20px;
}

